/*CSS RESET*/
* {
    margin:0;
    padding:0;
    border:0;
    font-family: "Quicksand", sans-serif;
}

header {
    background-color: #a0c5f8;
}

nav {
    width: 1000px;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    list-style: none;
}

/*nav ul li a*/
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.san-jose {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 3px solid black;
    align-items: center;
}

.san-jose select {
    border: 1px solid;
}

.semana {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 5%;
    margin-top: 30px;
}

.semana article {
    flex: 1;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

article img {
    width: 100px;
    border-radius: 50%;
    margin: 20px 0;
}

.max {
    color: red;
}

.min {
    color: blue;
}

.temperaturas {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.cookie{
    width: 1000px;
    margin: 0 auto;
    background-color: lightslategray;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer button {
    padding: 5px 10px;
    background-color: lightskyblue;
}

.info {
    display: none;
}