/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.container1 {
    background-color: red;
    width: 1200px;
    height: 200px;
    /*Display flex se coloca al contenedor padre*/
    display: flex;
    /*Acomodo vertical*/
    align-items: stretch; /*stretch, center, flex-start, flex-end*/

    /*Acomodo horizontal*/
    justify-content: flex-start; /*flex-start, flex-end, center, space-between, space-around, space-evenly*/

    /*Dirección*/
    flex-direction: row; /*row, row-reverse, column, column-reverse*/
}

/*
.container1 div -> todos los divs que se encuentran dentro de container1

.container1 > div -> todos los divs que son descendentes directos de container1
*/
#s1, .s2, .s3 {
    width: 200px;
    background-color: yellow;
}

.container2 {
    background-color: purple;
    width: 1200px;
    height: 200px;
    display: flex;
}

.container2 > div {
    background-color: white;
    flex: 1;
}

div.section2 {
    flex: 2;
}

div.section3 {
    flex: 3;
}

/*
section1 = 1 -> 1/6
section2 = 2 -> 2/6 = 1/3
section3 = 3 -> 3/6 = 1/2
TOTAL: 6
*/