/*
CSS - Cascade Style Sheets
Encargado de estilizar el documento HTML
*/

/*
SELECTORES BÁSICOS
etiqueta {
    propiedad: valor;
}

.clase {
    propiedad: valor;
}

#id {
    propiedad: valor;
}
*/

h2 {
    color: blue;
    font-size: 40px;
}

.rojo {
    color: red;
}

.subrayado {
    text-decoration: underline;
}

#parrafo_especial {
    border: 2px solid purple;
    color: purple;
}

/*Jerarquía: ID, CLASE, ETIQUETA*/

/*Etiqueta strong que está dentro de un párrafo*/
p strong { 
    text-transform: uppercase;
}
/*
.rojo strong (etiqueta strong que está dentro de la clase rojo)

#parrafo_especial span (etiqueta span dentro de id parrafo_especial)
*/

/*Descendiente directo*/
.contenedor > p { 
    border: 1px red dashed;
    border-radius: 10px;
}

.palabra {
    font-weight: bold;
    color: green;
    text-decoration: underline;
}

input[type="text"] { /*Propiedad especifica*/
    width: 350px;
}

input[type="number"] {
    height: 100px;
}

input, textarea { /*mas de un elemento*/
    border: 3px solid magenta;
}

input:disabled { /*propiedad: disabled*/
    background-color: green;
}

input:required {
    background-color: yellow;
}

/*COLOR*/
.color {
    /*color de letra*/
    /* color: magenta;  */
    /* color: #801b04; hex */
    color: rgb(240, 243, 45);
    background-color: green;
}

/*TEXTO*/
#texto {
    text-align: center; /*left, right, center, justify*/
    text-decoration: underline; /*underline, line-through, none, overline*/
    font-style: italic; /*italic, normal*/
    font-weight: bold; /*bold, normal, light, 100, 300, 900*/
    font-size: 20px; /*px, pt, em*/
    font-family: sans-serif; /*serif, monospace, cursive*/
}

.tamano {
    background-color: gray;
    width: 400px; /*ancho*/
    height: 50px; /*alto*/
}

.background {
    width: 400px; /*100vh vw*/
    height: 600px;
    border: 1px solid black;

    background-color: aqua;
    background-image: url(../img/gatito_small.jpg);
    background-repeat: no-repeat; /*repeat, no-repeat, repeat-x, repeat-y*/
    background-size: cover; /*cover: estira verticalmente, contain: estira horizontal */
}

#modelo_caja {
    background-color: lightblue;
    width: 200px; /*Ancho*/
    height: 100px; /*Alto*/

    /*Margin: al espacio entre mi elemento y el resto de la página*/
    margin: 20px; /*4 espacios 20px*/
    margin-top: 100px; /*-top, -right, -bottom, -left*/
    margin: 50px 15px; /*ArribaAbajo IzqDer */
    margin: 50px 10px 100px 200px; /*arriba der abajo izq*/
    /*margin: n1 n2 n3 - n1 arriba, n2 izqder, n3 abajo*/

    /*Padding el margen interno*/
    padding: 20px;
    padding-top: 50px; /*-top, -right, -bottom, -left*/
    padding: 50px 10px; /*ArribaAbajo IzqDer*/
    padding: 100px 30px 50px 10px; /*arriba der abajo izq*/

    border: 2px solid black; /*solid dotted dashed double*/
    
    /*CÓMO CENTRAR HORIZONTALMENTE UN DIV*/
    margin: 0 auto;

    border-radius: 10px;
}

.circulo {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%; /*Circulo perfecto*/
}